*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .reels-section{
        height: 100svh;
        width: 100%;
        max-width: 600px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        overflow: auto;

        .reel{
            height: 100vh;
            width: 100%;
            position: relative;
            overflow: hidden;
            scroll-snap-align: start;
            scroll-snap-stop: always;

            video{
                width: 100%;
                height:100%;
                min-height: 614px;
                object-fit: cover;
            }

            .reel-info{
                width: 88%;
                padding: 1rem;
                position: absolute;
                left: 0;
                bottom: 0;

                .user-profile{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    user-select: none;

                    img{
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .span{
                        font-weight: bold;
                        font-size: 0.9rem;
                    }

                    button{
                        padding: 0.3rem 0.6rem;
                        border: 1px solid #fff;
                        border-radius: 4px;
                        background-color: transparent;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }

            .engagement{
                display: flex;
                flex-direction: column;
                gap: 1.8rem;
                position: absolute;
                left: 97%;
                bottom: 30%;
                user-select: none;

                span{
                    pointer-events: none;
                }

                .like-section{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.3rem;
                }

                .comment-section{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.3rem;
                }  
                
                .share-section{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.3rem;
                }

                .more-section{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                i{
                    font-size: 2rem;
                    cursor: pointer;
                }

                .liked{
                    background: linear-gradient(to right top, #F37544, #EE3680);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: transparent;
                }

                .comment:hover{
                    color: #3498db;
                    transform: rotate(10deg) scale(1.3);
                    transition: all 0.3s ease-in-out;
                }

                .share:hover{
                    color: #2ecc71;
                    transform:  rotate(-10deg) scale(1.3);
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}